{% extends 'base.html.twig' %}

{% block title %}Les groupes de formations{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if groupeFormations != []  and groupeFormations.getTotalItemCount > 0 %}
            <h1>Les modules de formations actifs</h1>

            <div class="count mt-4">
            <h4>{{ groupeFormations.getTotalItemCount }} groupe(s) de formations</h4>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">labelGroupe</th>
                        <th scope="col"> </th>
                        <!--<th scope="col">inscription</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for groupeFormation in groupeFormations %}
                        <tr class="table-primary">
                            <th scope="row">{{ groupeFormation.labelGroupe }}</th>
                            <td>
                                <a href="{{ path('groupe.formation', { id: groupeFormation.id})}}" class="btn btn-info">consulter </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="count mt-4">
                <a href="{{ path('formation.index')}}" class="btn btn-info"> Consulter toutes les formations ouvertes a l'inscription </a>
            </div>
            {# display navigation #}
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(groupeFormations) }}
            </div>
            {% else %}
            <h4>Il n'y a pas de formations ouverte dans ce groupe</h4>
        {% endif %}
    </div>
{% endblock %}
